@import "../../../styles/config";

.admin_dashboard_sidebar {
  background-color: $grey-color-deep;
  color: $grey-white-color;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;

  .button_design {
    width: 100%;
    color: $grey-white-color;
    background-color: $grey-color-light;
    border: 0px solid;
    border-radius: 4px;
    padding: 5px;
  }

  .button_design:hover {
    background-color: $grey-color-medium;
  }
}
