@import "../../../styles/config";

.all_products_design {
  background-color: $grey-color-deep;
  color: $grey-white-color;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;

  @media (min-width: 1024px) {
    font-size: 15px;
    padding: 20px;
  }

  // Main field
  .all_products_table_data {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex-start;
    justify-content: space-around;
    color: $grey-white-color;
    gap: 15px;

    .table_cell_min {
      width: 6%;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .table_cell {
      width: 15.2%;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
