$teal-color:    #17706E;
$orange-color:  #FB7813;
$lemon-color:   #B6EB7A;
$white-color:   #F7F7EE;


$grey-color-deep: #393646;
$grey-color-medium: #4F4557;
$grey-color-light: #6D5D6E;
$grey-white-color: #F4EEE0;